.fantasy-font {
  font-family: Impact, Charcoal, sans-serif;
}

body {
  text-align: center;
  text-align-last: center;
}

nav {
  text-align: center;
}

nav .navbar-brand {
  text-align: center; 
}

body, html {
    background: url(stars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}